# Ignora node_modules in tutti i sottoprogetti
sleep-backend-api/node_modules/
sleep-frontend/node_modules/

# Ignora file .env in entrambi i sottoprogetti
sleep-backend-api/.env
sleep-backend-api/.env.production
sleep-frontend/.env