.data-card-insights {
  border: 1px solid;
  border-radius: 12px;
  height: min-content;
  padding: 2%;
  margin: 1%;
}

.data-card-insights:hover {
  box-shadow: 0 0 16px rgba(255, 255, 255, 0.3);
  transition: box-shadow 0.3s ease;
}

.text-bold {
  font-weight: bold;
  font-size: larger;
}

.text-center {
  text-align: center;
}