.title {
  text-align: center;
  color: white;
  padding: 1%;
  font-size: 48px;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.btnSignUP {
  padding-top: 2%;
  width: 12%;
}