.button-core {
  background-color: white;
  border: #4ba173 2px solid;
  color: #4ba173;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  transition: all 0.3s ease;
  cursor: grab;
  width: 100%;
}

.button-core:hover,
.button-core:focus {
  background-color: #4ba173;
  color: white;
  border: white 2px solid;
  outline: none;
}

.button-not-selected {
  background-color: white;
  border: #4ba173 2px solid;
  color: #4ba173;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  transition: all 0.3s ease;
  cursor: grab;
  width: 100%;
}

.button-selected {
  background-color: #4ba173;
  color: white;
  border: white 2px solid;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  transition: all 0.3s ease;
  cursor: grab;
  width: 100%;
}

.button-core:disabled,
.button-not-selected:disabled,
.button-selected:disabled {
  background-color: #ddd;
  border: #aaa 2px solid;
  color: #777;
  cursor: not-allowed;
  opacity: 0.7;
}